.testimonials-simple__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonials-simple__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 0 2rem;
}

.testimonials-simple__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-inline: 2rem;
  padding-inline: 2rem;
  padding-bottom: 1rem;
}

.testimonials-simple__content::-webkit-scrollbar {
  display: none;
}

.testimonial {
  flex: none;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;

}

.testimonial__stars {
  display: flex;
  gap: 0.25rem;
}

.testimonial__quote {
  margin: 0;
  padding: 0;
  height: 14.5rem;
  overflow: auto;
  /* oveflow-y: scroll; */
}

.testimonial__quote::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-foreground), 0.3);
}

.testimonial__quote::-webkit-scrollbar-track {
  background: transparent;
}

.testimonial__quote::-webkit-scrollbar {
  width: 6px;
}

.testimonial__quote::-webkit-scrollbar-thumb {
  background: rgba(var(--color-foreground), 0.18);
  border-radius: 4px;
}


p.testimonial__author {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgba(var(--color-foreground), 0.8);
}
